// Grids are used to break any space into fractions, they can be nested and stacked.
// 
// .line - Groups units on one horizontal line. 
// .unit - Base class which divides a line into sections (columns). 
// .lastUnit - Extends <strong>.unit</strong>. Applied to the last child of every line.
//
//  Styleguide 1.0

.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}
//.unit{float:left;}
[class*="unit"] { float: left; }
.unitRight{float:right;}
.unit1 { float: none; }
.unit2 { width: 50%; }
.unit3 { width: 33.33333%; }
.unit4 { width: 25%; }


.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}
